.hero {

    &__dt {
        position: relative;
        background-image: url('/images/main-wave.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        height: 88vh;
    }

    &__image {
        background-image: url('/images/hero-car.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        min-height: 50vh;
        width: 100%;
        height: auto;

    }

    &__text {
        text-align: left;
        margin-left: 15vh;
        margin-top: 10vh;


        h1 {
            font-weight: 400;
            color: $darkerGray;
        }
    }

    &__image-m {
        background-image: url('/images/hero-car.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        min-height: 50vh;
        height: auto;

    }

    &__text-m {
        text-align: center;
        margin-top: 7vh;
        
        h1 {
            font-weight: 400;
            color: $darkerGray;
        }
    }

}