.header {

      // Hamburger Styles

    &.open {

        .overlay {
            animation: fade-in 300ms ease-in-out forwards;
        }

        .header__menu {
            > span:first-child {
                transform: rotate(45deg);
            }
    
            > span:nth-child(2) {
                opacity: 0;
            }
    
            > span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    .overlay {
        opacity: 0;
        position: fixed;
        top: 5.2rem;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image: linear-gradient($darkerGray, transparent);
    }

    
    nav {
        padding: 1.0625rem 1.5rem;
    }

    &__logo {

        margin-left: 0.875rem;
        img {
            width: 8.5rem;
            height: 3rem;
        }

    }

    &__menu { // Mobile Menu

        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $forrestGreen;
            transition: all 300ms ease-in-out;
            transform-origin: 1.7px 0.9px;

            &:not(:last-child) {
                margin-bottom: 6px;
            }
        }

    }

    &__links {

        a {
            position: relative;
            font-size: $font-sm;
            font-weight: 400;
            color: $grayishBlue;
            transition: color 300ms ease-in-out;

            &:not(:last-child) {
                margin-right: 32px;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                height: 5px;
                left: 0;
                right: 0;
                bottom: -30px;
                background: linear-gradient(to right, $teal, $tealGreen);
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }


            &:hover {
                color: $darkerGray;

                &::before {
                    opacity: 1;
                }
            }
        }
    }

    &__cta {
        font-size: $font-sm;
        color: $white;
        transition: opacity 300ms ease-in-out;
    
        &:hover {
            opacity: 0.75;
        }
    
    }
}


