//Colors
$forrestGreen: #00221C;
$lightForrestGreen: #005748;
$tealGreen: #17b4a4;
$tea: #1ea799;
$teal: #7bb8d4;
$grayishBlue: hsl(233, 8%, 62%);
$darkerGray: hsl(227, 4%, 39%);
$babyBlue: #E7F6FC;
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Font Sizes
$font-sm: 0.875rem; // 13px
$font-med: 1.125rem; // 18px
